 <!-- CONTENT START -->
 <div class="page-content">
        
    <!-- INNER PAGE BANNER -->
    <div class="full-landing-image sx-bnr-inr overlay-wraper  bg-top-center"    style="background-image:url(images/banner/1.jpg);">
        <div class="overlay-main bg-white opacity-07"></div>
        <div class="container">
            <div class="sx-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="sx-title">Error 404</h2>
                        <p>The essence of interior design will always be about people and how they live. It is about the realities of what makes for an attractive, civilized.</p>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->                            
                
                    <div>
                        <ul class="sx-breadcrumb breadcrumb-style-2">
                            <li><a href="index.html">Home</a></li>
                            <li>Error</li>
                        </ul>
                    </div>
                
                <!-- BREADCRUMB ROW END -->                        
            </div>
        </div>                   
        
    </div>
    <!-- INNER PAGE BANNER END -->
     
    <!-- SECTION CONTENTG START -->
    <div class="section-full mobile-page-padding p-t100 p-b100">  
        <div class="container">
            <div class="section-content">
                <div class="page-notfound">
                    
                    <span class="title">404</span>
                    <p>We're Sorry , But The Page You Were Looking For, Couldn't Be Found.</p>
                    <a href="index.html" class="site-button-secondry btn-half outline m-r15">Back to home <span class="sx-bg-primary"></span></a>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- SECTION CONTENT END -->
    
</div>
<!-- CONTENT END -->
