        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="full-landing-image sx-bnr-inr overlay-wraper  bg-top-center"    style="background-image:url(images/banner/1.jpg);">
                <div class="overlay-main bg-white opacity-07"></div>
                <div class="container">
                    <div class="sx-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="sx-title">Service Style Two</h2>
                                <p>
The essence of interior design will always be about people and how they live. It is
about the realities of what makes for an attractive, civilized.
</p>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="sx-breadcrumb breadcrumb-style-2">
                                    <li><a href="index.html">Home</a></li>
                                    <li>Service 2</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
             
            
            <!-- OUR SERVICES START -->
            <div class="section-full mobile-page-padding p-t100  p-b70 bg-white">
                <div class="section-content">
                    <div class="container">
                        <!-- TITLE START -->
                        <div class="large-title-block">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class=" large-title">
                                        <!-- TITLE START -->
                                        <div class="section-head-two left">
                                            <h2 class="sx-title-two">We share our knowledge so that users become creative.</h2>
                                        </div>                   
                                        <!-- TITLE END -->
                                    </div>
                                </div>
    
                                
                                <div class="col-lg-5 col-md-12">
                                    <div class=" large-title-info">
                                        <p>It is easy to get lost in a crowded street, the same rule apply to design. It has to be minimal, so that the end user will not fall in something that they do not want. 
                                        </p>
                                    </div>
                                </div>
                                                            
                            </div>
                        </div>                  
                        <!-- TITLE END -->
                          <div class="row">
                            
                            <!-- Block one -->
                            <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                                
                                <div class="sx-service2-box">
                                    <div class="sx-service2-inner">
                                      <img src="images/services/service-2/port-1.jpg" alt=""/>
                                      <div class="figcaption">
                                        <h4 class="sx-title">Art direction</h4>
                                        <p>Project management is the process by which our team plans and executes your project. We will develop it...</p>
                                        <a hrouterLink="/works" class="site-button-link white">View more</a>
                                      </div>     
                                    </div>
                                </div>
                                
                            </div>
                            <!-- Block Two -->
                            <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                                
                                <div class="sx-service2-box">
                                    <div class="sx-service2-inner">
                                      <img src="images/services/service-2/port-2.jpg" alt=""/>
                                      <div class="figcaption">
                                        <h4 class="sx-title">Illustration </h4>
                                        <p>Project management is the process by which our team plans and executes your project. We will develop it...</p>
                                        <a hrouterLink="/works" class="site-button-link white">View more</a>
                                      </div>     
                                    </div>
                                </div>                              
                                
                            </div>
                            <!-- Block Three -->
                            <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                                
                                <div class="sx-service2-box">
                                    <div class="sx-service2-inner">
                                      <img src="images/services/service-2/port-3.jpg" alt=""/>
                                      <div class="figcaption">
                                        <h4 class="sx-title">2D & 3D animation</h4>
                                        <p>Project management is the process by which our team plans and executes your project. We will develop it...</p>
                                        <a hrouterLink="/works" class="site-button-link white">View more</a>
                                      </div>     
                                    </div>
                                </div>                              
                                
                            </div>
                            <!-- Block Four -->
                            <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                                
                                <div class="sx-service2-box">
                                    <div class="sx-service2-inner">
                                      <img src="assets/images/services/service-2/port-4.jpg" alt=""/>
                                      <div class="figcaption">
                                        <h4 class="sx-title">Front & Back-end development</h4>
                                        <p>Project management is the process by which our team plans and executes your project. We will develop it...</p>
                                        <a hrouterLink="/works" class="site-button-link white">View more</a>
                                      </div>     
                                    </div>
                                </div>                              
                                
                            </div>
                            <!-- Block Five -->
                            <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                                
                                <div class="sx-service2-box">
                                    <div class="sx-service2-inner">
                                      <img src="assets/images/services/service-2/port-5.jpg" alt=""/>
                                      <div class="figcaption">
                                        <h4 class="sx-title">App development</h4>
                                        <p>Project management is the process by which our team plans and executes your project. We will develop it...</p>
                                        <a routerLink="/works" class="site-button-link white">View more</a>
                                      </div>     
                                    </div>
                                </div>                              
                                
                            </div>
                           <!-- Block Six --> 
                            <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                                
                                <div class="sx-service2-box">
                                    <div class="sx-service2-inner">
                                      <img src="images/services/service-2/port-6.jpg" alt=""/>
                                      <div class="figcaption">
                                        <h4 class="sx-title">VR & AR development</h4>
                                        <p>Project management is the process by which our team plans and executes your project. We will develop it...</p>
                                        <a hrouterLink="/works" class="site-button-link white">View more</a>
                                      </div>     
                                    </div>
                                </div>                              
                                
                            </div> 
                                                                                                                                                                       
                        </div>
                    </div>
                </div>
                
                <div class="hilite-title text-left p-l50 text-uppercase">
                    <strong>Services</strong>
                </div>                
            </div>   
            <!-- OUR SERVICES  END -->
            
            <!-- Awards START -->
            <div class="section-full mobile-page-padding p-t100 p-b70 sx-bg-light" >
                <div class="container">
						<div class="section-content">
                        	<div class="row">
                            
                                <div class="col-lg-5 col-md-12">
                                  	<div class="awards-left">
                                        <div class="sx-aw-media m-b30">
                                            <img src="assets/images/services/aw-pic.jpg" alt="">
                                        </div>                                        
                                   </div>                                	
                                </div>
                                
                            	<div class="col-lg-7 col-md-12 col-sm-12">
									<div class="awards-right">

                                        <h3 class="sx-tilte">Awards received - We have received these due to our excellent graphics imagery and exciting creative work</h3>
                                        <div class="aw-info">
                                            <!-- Accordian -->
                                            <div class="wt-accordion acc-dotted" id="accordion">
                                                <div class="panel wt-panel">
                                                    <div class="acod-head" id="headingOne">
                                                        <h4 class="acod-title">
                                                        <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            <span class="aw-year sx-text-primary">2021</span> – National Portrait Gallery
                                                            <span class="indicator"><i class="fa"></i></span>
                                                        </a>
                                                        </h4>
                                                    </div>
                                                
                                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                                        <div class="acod-content p-tb15">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel wt-panel">
                                                    <div class="acod-head acc-actives" id="headingTwo">
                                                        <h4 class="acod-title">
                                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            <span class="aw-year  sx-text-primary">2019</span> – MBAM / Livre Chihuly
                                                            <span class="indicator"><i class="fa"></i></span>
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
                                                        <div class="acod-content p-tb15">
                                                            It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower.
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel wt-panel">
                                                    <div class="acod-head" id="headingThree">
                                                        <h4 class="acod-title">
                                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            <span class="aw-year  sx-text-primary">2018</span> – The Type Directors Club 60
                                                            <span class="indicator"><i class="fa"></i></span>
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                        <div class="acod-content p-tb15">
                                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel wt-panel">
                                                    <div class="acod-head" id="headingFour">
                                                        <h4 class="acod-title">
                                                            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                                <span class="aw-year sx-text-primary">2017</span> – Naturiste / Identité 100 moods
                                                            <span class="indicator"><i class="fa"></i></span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                                        <div class="acod-content p-tb15">
                                                            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>                                    

                                        </div>
									</div>
                           		</div> 

                                
                    		</div>
                       </div>
                 </div>
               
            </div>   
            <!-- Awards  END -->	         


            <!-- COUNTER START -->
            <div class="section-full overlay-wraper mobile-page-padding  p-t100 p-b70 bg-center bg-cover" style="background-image:url(images/background/bg-1.jpg)">
                <div class="overlay-main bg-white opacity-01"></div>
                <div class="container">
                    <div class="section-content">
 
                        <div class="counter-blocks">
                            <div class="row when-item-four justify-content-center">
                                <div class="col-xl-3 col-md-6 col-sm-6 col-6 m-b30 ">
                                    <div class="sx-count sx-icon-box-wraper text-center p-a20">
                                        <h2 class="m-t0 sx-text-primary"><span class="counter">256</span></h2>
                                        <h4 class="m-b0">Projects Created</h4>
                                    </div> 
                                </div>
                                
                                <div class="col-xl-3 col-md-6 col-sm-6 col-6 m-b30">
                                    <div class="sx-count sx-icon-box-wraper text-center p-a20">
                                        <h2 class="m-t0  sx-text-primary"><span class="counter">995</span></h2>
                                        <h4 class="m-b0">Cups of Coffee</h4>
                                    </div>
                                </div>
                                
                                <div class="col-xl-3 col-md-6 col-sm-6 col-6 m-b30">
                                    <div class="sx-count sx-icon-box-wraper text-center p-a20">
                                        <h2 class="m-t0  sx-text-primary"><span class="counter">5.7</span><span>K<b>+</b></span></h2>
                                        <h4 class="m-b0">Satisfied Customers</h4>
                                    </div> 
                                </div>
                                
                                <div class="col-xl-3 col-md-6 col-sm-6 col-6 m-b30">
                                    <div class="sx-count sx-icon-box-wraper text-center p-a20">
                                        <h2 class="m-t0  sx-text-primary"><span class="counter">135</span><span>K</span></h2>
                                        <h4 class="m-b0">Nominees & Awards</h4>
                                    </div> 
                                </div>                                                                                                                        
                            </div>
                        </div>                                   

                   </div>
               </div>
    
            </div>   
            <!-- COUNTER  END -->
                        

                        
        <!-- CONTENT END -->