
		<!-- Header
		============================================= -->
		<header id="header" class="dark transparent-header no-sticky dark">
			<div id="header-wrap" class="border-0">
				<div class="container">
					<div class="header-row justify-content-lg-between">

						<!-- Logo
						============================================= -->
						<div id="logo" class="me-lg-5">
							<a href="">
								<img class="logo-default ms-0" srcset="assets/one-page/images/theo.png, assets/one-page/images/theo@2x.png 2x" src="assets/one-page/images/theo@2x.png" alt=" Logo">
								<img class="logo-dark ms-0" srcset="assets/one-page/images/theo-dark.png, assets/one-page/images/theo-dark@2x.png 2x" src="assets/one-page/images/theo-dark@2x.png" alt=" Logo">
							</a>
						</div><!-- #logo end -->



						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<nav class="primary-menu">

							<ul class="menu-container">
								<li class="menu-item"><a class="menu-link magnetic-hover"  routerLink="/"><div>Home</div></a></li>
								<li class="menu-item"><a class="menu-link magnetic-hover"  routerLink="/about"><div>About</div></a></li>
								<li class="menu-item"><a class="menu-link magnetic-hover"  routerLink="/works"><div>Works</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->
