        
        <!-- CONTENT START -->
        <div class="page-content">
            <!-- INNER PAGE BANNER -->
            <div class="full-landing-image sx-bnr-inr overlay-wraper  bg-top-center"    style="background-image:url(assets/images/banner/1.jpg);">
            	<div class="overlay-main bg-white opacity-07"></div>
                
                <div class="container">
                    <div class="sx-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="sx-title">Blog </h2>
                                <p>The essence of interior design will always be about people and how they live. It is about the realities of what makes for an attractive, civilized.</p>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="sx-breadcrumb breadcrumb-style-2">
                                    <li><a routerlink="/">Home</a></li>
                                    <li>Blog </li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div> 

            </div>
            <!-- INNER PAGE BANNER END -->
            
			<!-- SECTION CONTENT START -->
            <div class="section-full p-t100 p-b70 mobile-page-padding">
            
                <!-- GALLERY CONTENT START -->
                	<div class="container">
                    	<div class="row">
                        	<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
                                <div class="news-listing ">
                                    <!-- COLUMNS 1 -->
                                    <div class="blog-post blog-lg date-style-2 blog-list2">
                                            
                                        <div class="sx-post-media sx-img-effect off-color">
                                            <a href="#"><img src="assets/images/blog/default/thum3.jpg" alt=""></a>
                                        </div>
                                        <div class="sx-post-info  bg-white">
                                            <div class="sx-post-meta ">
                                                <ul>
                                                    <li class="post-date">Posted 30.02.21</li>
                                                    <li class="post-author">By<a href="#">Admin</a></li>
                                                    <li class="post-comment"><a href="#">0 Comments</a> </li>
                                                </ul>
                                            </div>                                                
                                            <div class="sx-post-title ">
                                                <h4 class="post-title"><a href="#">The Power of Social Media in Life</a></h4>
                                            </div>

                                            <div class="sx-post-text">
                                                <p>Asperiores, tenetur, blanditiis, quaerat odit exercitationem pariatur quibus dam veritatis quisquam laboriosam. Morbi orci mi, egestas et lorem vel, ullamcorper ultrices est. Donec luctus ornare ultricies. Integer a tristique erat. Praesent vestibulum nunc nec consequat venenatis. Etiam porttitor aliquet pretium. Praesent gravida elit enim, eget...</p> 
                                            </div>
                                            <div class="clearfix">
                                                <div class="sx-post-readmore pull-left">
                                                     <a href="#" title="READ MORE" rel="bookmark" class="site-button-link">Read More</a>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                        
                                    </div> 
                                    
                                    <!-- COLUMNS 2 -->
                                    <div class="blog-post blog-lg date-style-2 blog-list2">
                                            
                                        <div class="sx-post-media sx-img-effect off-color">
                                            <a href="#"><img src="assets/images/blog/default/thum7.jpg" alt=""></a>
                                        </div>
                                        <div class="sx-post-info  bg-white">
                                            <div class="sx-post-meta ">
                                                <ul>
                                                    <li class="post-date">Posted 30.02.21</li>
                                                    <li class="post-author">By<a href="#">Admin</a></li>
                                                    <li class="post-comment"><a href="#">0 Comments</a> </li>
                                                </ul>
                                            </div>                                                
                                            <div class="sx-post-title ">
                                                <h4 class="post-title"><a href="#">The Power of Social Media in Life</a></h4>
                                            </div>

                                            <div class="sx-post-text">
                                                <p>Asperiores, tenetur, blanditiis, quaerat odit exercitationem pariatur quibus dam veritatis quisquam laboriosam. Morbi orci mi, egestas et lorem vel, ullamcorper ultrices est. Donec luctus ornare ultricies. Integer a tristique erat. Praesent vestibulum nunc nec consequat venenatis. Etiam porttitor aliquet pretium. Praesent gravida elit enim, eget...</p> 
                                            </div>
                                            <div class="clearfix">
                                                <div class="sx-post-readmore pull-left">
                                                     <a href="#" title="READ MORE" rel="bookmark" class="site-button-link">Read More</a>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                        
                                    </div> 

                                    <!-- COLUMNS 3 -->
                                    <div class="blog-post blog-lg date-style-2  blog-list2">
                                            
                                        <div class="sx-post-media sx-img-effect off-color">
                                            <a href="#"><img src="assets/images/blog/default/thum8.jpg" alt=""></a>
                                        </div>
                                        <div class="sx-post-info  bg-white">
                                            <div class="sx-post-meta ">
                                                <ul>
                                                    <li class="post-date">Posted 30.02.21</li>
                                                    <li class="post-author">By<a href="#">Admin</a></li>
                                                    <li class="post-comment"><a href="#">0 Comments</a> </li>
                                                </ul>
                                            </div>                                                
                                            <div class="sx-post-title ">
                                                <h4 class="post-title"><a href="#">When Chocolate was Medicine</a></h4>
                                            </div>

                                            <div class="sx-post-text">
                                                <p>Asperiores, tenetur, blanditiis, quaerat odit exercitationem pariatur quibus dam veritatis quisquam laboriosam. Morbi orci mi, egestas et lorem vel, ullamcorper ultrices est. Donec luctus ornare ultricies. Integer a tristique erat. Praesent vestibulum nunc nec consequat venenatis. Etiam porttitor aliquet pretium. Praesent gravida elit enim, eget...</p> 
                                            </div>
                                            <div class="clearfix">
                                                <div class="sx-post-readmore pull-left">
                                                     <a href="#" title="READ MORE" rel="bookmark" class="site-button-link">Read More</a>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                        
                                    </div>                                                               
                                    
                                    <!-- COLUMNS 4 -->
                                     <div class="blog-post blog-lg date-style-2  blog-list2">
                                            
                                        <div class="sx-post-media sx-img-effect off-color">
                                            <!--Fade slider-->
                                            <div class="owl-carousel owl-fade-slider-one owl-btn-vertical-center owl-dots-bottom-right">
                                            
                                                <div class="item">
                                                    <div class="aon-thum-bx">
                                                        <img src="assets/images/blog/default/thum5.jpg" alt="">
                                                    </div>
                                                </div>
                                                
                                                <div class="item">
                                                    <div class="aon-thum-bx">
                                                        <img src="assets/images/blog/default/thum6.jpg" alt="">
                                                    </div>
                                                </div>
                                                
                                                <div class="item">
                                                    <div class="aon-thum-bx">
                                                        <img src="assets/images/blog/default/thum9.jpg" alt="">
                                                    </div>
                                                </div>                                    
                                            
                                            </div>
                                            <!--fade slider END-->
                                        </div>
                                        <div class="sx-post-info  bg-white">
                                            <div class="sx-post-meta ">
                                                <ul>
                                                    <li class="post-date">Posted 01.03.21</li>
                                                    <li class="post-author">By<a href="#">Admin</a></li>
                                                    <li class="post-comment"><a href="#">0 Comments</a> </li>
                                                </ul>
                                            </div>                                                
                                            <div class="sx-post-title ">
                                                <h4 class="post-title"><a href="#">When it comes to your house, don’t mess.</a></h4>
                                            </div>

                                            <div class="sx-post-text">
                                                <p>Asperiores, tenetur, blanditiis, quaerat odit exercitationem pariatur quibus dam veritatis quisquam laboriosam. Morbi orci mi, egestas et lorem vel, ullamcorper ultrices est. Donec luctus ornare ultricies. Integer a tristique erat. Praesent vestibulum nunc nec consequat venenatis. Etiam porttitor aliquet pretium. Praesent gravida elit enim, eget...</p> 
                                            </div>
                                            <div class="clearfix">
                                                <div class="sx-post-readmore pull-left">
                                                     <a href="#" title="READ MORE" rel="bookmark" class="site-button-link">Read More</a>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                        
                                    </div> 
                                    
                                   
                                    
                                                                
                                                                                            
                                </div>
                                <div class="text-center">
                                    <ul class="pagination m-t30 m-b0">
                                        <li><a href="#"><span class="fa fa-chevron-left"></span></a></li>
                                        <li><a href="#">1</a></li>
                                        <li class="active"><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><span class="fa fa-chevron-right"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <!-- SIDE BAR START -->
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 sticky_column">
                                
                                <div  class="side-bar sx-bg-white">
                                    
                                        <!-- RECENT POSTS -->
                                        <div class="widget  recent-posts-entry">
                                            <h4 class="widget-title  ">Recent Posts</h4>
                                            <div class="section-content">
                                                <div class="widget-post-bx">
                                                    <div class="widget-post clearfix">
                                                        <div class="sx-post-media">
                                                            <img src="assets/images/blog/recent-blog/pic1.jpg" alt="">
                                                        </div>
                                                        <div class="sx-post-info">
                                            
                                                            <div class="sx-post-header">
                                                                <h5 class="post-title"><a href="#">Music can help us to look ideas</a></h5>
                                                            </div>
                                                            <div class="sx-post-meta">
                                                                <ul>
                                                                    <li class="post-author">Posted 30.02.21</li>
                                                                </ul>
                                                            </div>                                                             
                                                        </div>
                                                    </div>
                                                    <div class="widget-post clearfix">
                                                        <div class="sx-post-media">
                                                            <img src="assets/images/blog/recent-blog/pic2.jpg" alt="">
                                                        </div>
                                                        <div class="sx-post-info">
                                                            <div class="sx-post-header">
                                                                <h5 class="post-title"><a href="#">Being beautiful is about singing loudly</a></h5>
                                                            </div>
                                                            <div class="sx-post-meta">
                                                                <ul>
                                                                    <li class="post-author">Posted 30.02.21</li>
                                                                </ul>
                                                            </div>                                      
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>                                  
                                        <!-- SEARCH -->
                                        <div class="widget">
                                            <h4 class="widget-title ">Search</h4>
                                            <div class="search-bx">
                                                <form role="search" method="post">
                                                    <div class="input-group">
                                                        <input name="news-letter" type="text" class="form-control bg-gray" placeholder="Write your text">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                                                            
                                        <!-- Categories  -->                                   
                                        <div class="widget widget_services ">
                                                <h4 class="widget-title">Categories</h4>
                                                <ul class="bg-white">
                                                    <li><a href="#">Branding<span> (28)</span></a></li>
                                                    <li><a href="#">Beauty<span> (05)</span></a></li>
                                                    <li><a href="#">Design<span> (24)</span></a></li>
                                                    <li><a href="#">Lifestyle<span> (15)</span></a></li>
                                                    <li><a href="#">Photo<span> (20)</span></a></li>
                                                </ul>
                                            </div>  
                                                                                    
                                        <!-- NEWSLETTER -->
                                        <div class="widget widget_newsletter-2">
                                            <h4 class="widget-title  ">Subscribe to Our Newsletter</h4>
                                            <div class="newsletter-bx">
                                                <div class="newsletter-content">
                                                    <p>We’ll send latest in tech, product and design. We never spam!</p>
                                                </div>
                                                <div class="m-t20">
                                                    <form role="search" method="post">
                                                    
                                                        <input name="news-letter" class="form-control" placeholder="Enter email address " type="text">
                                                        <button type="submit" class="site-button"><i class="fa fa-paper-plane-o"></i></button>
                                                                                                            
                                                    </form>
                                                </div>
                                            </div>
                                        </div> 
                                                                                    
                                        <!-- OUR GALLERY  -->
                                        <div class="widget widget_gallery mfp-gallery">
                                            <h4 class="widget-title  ">Our Gallery</h4>
                                            <ul class="bg-white clearfix">
                                                <li>
                                                    <div class="sx-post-thum">
                                                        <a href="assets/images/gallery/1.jpg" class="mfp-link" ><img src="assets/images/gallery/thumb/pic1.jpg" alt=""></a>
                                                    </div>
                                                </li>
                                                
                                                <li>
                                                    <div class="sx-post-thum ">
                                                        <a href="assets/images/gallery/2.jpg" class="mfp-link"><img src="assets/images/gallery/thumb/pic2.jpg" alt=""></a>
                                                    </div>
                                                </li>
                                                
                                                <li>
                                                    <div class="sx-post-thum  ">
                                                        <a href="assets/images/gallery/3.jpg" class="mfp-link"><img src="assets/images/gallery/thumb/pic3.jpg" alt=""></a>
                                                    </div>
                                                </li>
                                                
                                                <li>
                                                    <div class="sx-post-thum ">
                                                        <a href="assets/images/gallery/4.jpg" class="mfp-link"><img src="assets/images/gallery/thumb/pic4.jpg" alt=""></a>
                                                    </div>
                                                </li>
                                                
                                                <li>
                                                    <div class="sx-post-thum ">
                                                        <a href="assets/images/gallery/5.jpg" class="mfp-link"><img src="assets/images/gallery/thumb/pic5.jpg" alt=""></a>
                                                    </div>
                                                </li>
                                                
                                                <li>
                                                    <div class="sx-post-thum ">
                                                        <a href="assets/images/gallery/6.jpg" class="mfp-link"><img src="assets/images/gallery/thumb/pic6.jpg" alt=""></a>
                                                    </div>
                                                </li>
                                                
                                                <li>
                                                    <div class="sx-post-thum">
                                                        <a href="assets/images/gallery/7.jpg" class="mfp-link" ><img src="assets/images/gallery/thumb/pic7.jpg" alt=""></a>
                                                    </div>
                                                </li>
                                                
                                                <li>
                                                    <div class="sx-post-thum ">
                                                        <a href="assets/images/gallery/8.jpg" class="mfp-link"><img src="assets/images/gallery/thumb/pic8.jpg" alt=""></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="sx-post-thum ">
                                                        <a href="assets/images/gallery/9.jpg" class="mfp-link"><img src="assets/images/gallery/thumb/pic9.jpg" alt=""></a>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                        </div> 

                                        <!-- TAGS -->
                                        <div class="widget widget_tag_cloud">
                                            <h4 class="widget-title">Tag Cloud</h4>
                                            <div class="tagcloud bg-white">
                                                <a href="javascript:void(0);">Kitchen</a>
                                                <a href="javascript:void(0);">Food</a>
                                                <a href="javascript:void(0);">Planining</a>
                                                <a href="javascript:void(0);">Between </a>
                                                <a href="javascript:void(0);">Chairs</a>
                                                <a href="javascript:void(0);">Lawn</a>
                                                <a href="javascript:void(0);">Table</a>
                                                <a href="javascript:void(0);">Mantinance</a>
                                                <a href="javascript:void(0);">Room</a>
                                                <a href="javascript:void(0);">Landscape </a>
                                                <a href="javascript:void(0);">Bedroom </a>
                                                
                                            </div>
                                        </div> 
                                    
                                    </div>
        
                            </div>
                            <!-- SIDE BAR END -->    
                                                                  
                        </div>
            		</div>
                <!-- GALLERY CONTENT END -->
            
            </div>
            <!-- SECTION CONTENT END  -->

        </div>
        <!-- CONTENT END -->
        