   <!-- CONTENT START -->
   <div class="page-content">
        

	<!--SLIDER BANNER START-->
	<div class="sx-bnr-2-wrap-outer home-2-slider">

	   <!-- swiper slides -->
	   <div class="swiper-wrapper">

		   <!--slide 1-->
		   <div class="sx-bnr-2-wrap swiper-slide" style="background-image: url(assets/assets/images/main-slider/slider2/slide1.jpg);">
			   <div class="container ">
				   <div class="sx-bnr-2-content-wrap">
					   <div class="sx-bnr-2-content">
						   <span class="sx-bnr-2-small-title">Creative</span>
						   <h2 class="sx-bnr-2-large-title">Creative <span class="sx-text-primary">Web & App</span>  Developer</h2>
						   
						   <div class="sx-bnr-readmore">
							   <a href="about-1.html" class="site-button btn-half m-b30">Read More</a>
						   </div>
					   
					   </div>

					   
				   </div>
			   </div>
			   <div class="sx-bnr-images" >
				   <img src="assets/assets/images/main-slider/slider2/sm-pic1.png" alt="">
			   </div>
			   <div class="sld-bld-text-wrap">
				   <h2 class="sld-bld-text">Unique</h2>
			   </div>
		   </div>

		   <!--slide 2-->
		   <div class="sx-bnr-2-wrap swiper-slide" style="background-image: url(assets/assets/images/main-slider/slider2/slide2.jpg);">
			   <div class="container ">
				   <div class="sx-bnr-2-content-wrap">
					   <div class="sx-bnr-2-content">
						   <span class="sx-bnr-2-small-title">Photography</span>
						   <h2 class="sx-bnr-2-large-title">We Are <span class="sx-text-primary">Creative</span> & Minimalist</h2>
						   
						   <div class="sx-bnr-readmore">
							   <a href="about-1.html" class="site-button btn-half m-b30">Read More</a>
						   </div>
					   
					   </div>

					  
				   </div>
			   </div>
			   <div class="sx-bnr-images " >
				   <img src="assets/assets/images/main-slider/slider2/sm-pic2.png" alt="">
			   </div>
			   <div class="sld-bld-text-wrap">
				   <h2 class="sld-bld-text">Creative</h2>
			   </div>
									  
		   </div>
		   
		   
	   </div>
	   <!-- !swiper slides -->
	   
		<!-- swipper controls -->
		<div class="swiper-pagination"></div>
		<!-- Add Arrows -->
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
   </div>
   <!--SLIDER BANNER END-->
 <!-- SECTION CONTENT START -->
 <div class="section-full  p-t100 p-b70 mobile-page-padding  sx-bg-white">
	<div class="container">
		<div class="section-content">
			<div class="project-small-slider-wrap"> 
				<div class="row d-flex align-items-center">
					<div class="col-xl-7 col-lg-6 col-md-12 m-b30">
						<div class="work-carousel-outer">
							<div class="swiper-container project-carousel1">
								<div class="swiper-wrapper">
									<!-- COLUMNS 1 -->
									<div class="swiper-slide">
										<div class="sx-box   image-single-carousel ">
											<img src="assets/images/projects/square/squa-1.jpg" alt=""> 
										</div>
									</div>
									
									<!-- COLUMNS 2 -->
									<div class="swiper-slide">
										<div class="sx-box   image-single-carousel">
											<img src="assets/images/projects/square/squa-2.jpg" alt="">                                          
										</div>
									</div>
									<!-- COLUMNS 3 -->
									<div class="swiper-slide">
										<div class="sx-box   image-single-carousel">
											<img src="assets/images/projects/square/squa-3.jpg" alt="">
										</div>
									</div>                                                                
								</div>
								<!-- Add Pagination -->
								<div class="swiper-pagination"></div>
								<!-- Add Arrows -->
								<div class="swiper-button-next"></div>
								<div class="swiper-button-prev"></div>                                                                                        
							</div>


						</div>
					</div>
					<div class="col-xl-5 col-lg-6 col-md-12 m-b30">
						<div class="portfolio-detail-small sx-info">
							<h3 class="sx-tilte m-t0">Award-winning workplace solutions. By design.</h3>
							<p>Many of our projects cannot be featured in this section due to the Security levels of the space. lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>
							<div class="product-block">
								<ul>
								  <li>
									<h5 class="sx-title">Date:</h5>
									<p>March 10, 2021</p>
								  </li>
								  <li>
									<h5 class="sx-title">Client:</h5>
									<p>Studio Massimo, Italy</p>
								   </li>
								  <li>
									<h5 class="sx-title">Categiey:</h5>
									<p>Design, Illustration </p>
								  </li>
																		  
							  </ul>
							</div>

							
							<div class="social-icons-style-one sm-style d-flex">
								<h5 class="sx-title p-r10 m-b0">Share:</h5>
								<ul class="social-icons  sx-social-links">
									<li><a href="https://www.behance.net/" class="fa fa-behance"></a></li>
									<li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
									<li><a href="https://twitter.com/" class="fa fa-twitter"></a></li>
									<li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
								</ul>								
							</div>

							
						</div>
					</div>
				</div>
			</div> 

		 </div>
	 </div>
 </div>           
<!-- SECTION CONTENT END  -->                         
								   		   				   
</div>
<!-- CONTENT END -->
