                         
                            <!-- MAIN NAVIGATION -->
                            <div class="header-nav nav-dark navbar-collapse collapse d-flex justify-content-start collapse ">
                                <ul class=" nav navbar-nav ">
           
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="contact-1.html">Contact us</a></li> 

                                </ul>
                            </div>
                                       