 <!-- DEBUT DU FOOTER -->
 <footer class="site-footer footer-dark">
    
	<!-- DEBUT DES BLOCS DU FOOTER -->  
	<div class="footer-top overlay-wraper">
		<div class="overlay-main"></div>
		<div class="container">
			<div class="row">
				<!-- A PROPOS DE L'ENTREPRISE -->
				<div class="col-lg-3 col-md-6 col-sm-6">  
					<div class="widget widget_about">
						<div class="logo-footer clearfix p-b15">
							<a routerLink="/" class="sx-text-primary">theo.</a>
						</div>
						<p>© 2024 theo. Tous droits réservés.</p> 
						<p>Fait par TheoGeoffroy.</p> 
					</div>
				</div> 
				
				<!-- LIENS RAPIDES -->
				<div class="col-lg-3 col-md-6 col-sm-6 col-6 col">
					<div class="widget widget_services">
						<ul>
							<li><a routerLink="/">Accueil</a></li> 
                            <li><a routerLink="/services">Services</a></li> 
                            <li><a routerLink="/about">À propos</a></li>
                            <li><a routerLink="/blog">Blog</a></li> 
                            <li><a routerLink="/works">Réalisations</a></li>
                            <li><a routerLink="/contact">Contact</a></li> 
						</ul>
					</div>							                          
				</div>   
									 
				<!-- LIENS UTILES -->
				<div class="col-lg-3 col-md-6 col-sm-6 col-6 col footer-col-3">
					<div class="widget widget_social">
						<ul>
							<li><a href="https://www.facebook.com/theo.sasuke"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/theogeoffroy5"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/in/theo-kabre-8bb5a5169"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="https://www.instagram.com/geoffroy_kabre"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>                           
				</div>
				
				<!-- NOUS CONTACTER -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget_newsletter">
						<p>Prêt à démarrer votre projet ? <br> Écrivez-nous à : theogeoffroy5@gmail.com</p>
						<div class="newsletter-bx">
							<form role="search" method="post">
								<div class="input-group">
									<input name="news-letter" class="form-control" placeholder="Abonnez-vous pour rester informé !" type="text">
									<span class="input-group-btn">
										<button type="submit" class="site-button"><i class="fa fa-paper-plane-o"></i></button>
									</span>
								</div>
							</form>
						</div>
					</div>                                             	
				</div>                          
				

				
			</div>
		</div> 