<!-- Footer
		============================================= -->
		<footer id="footer" class="bg-transparent border-top-0">
			<div class="container mw-md">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap mb-lg-3 pt-lg-4">
					<div class="row align-items-center justify-content-between gx-lg-5 gy-5">
						<div class="col-md-6">
							<h4 class="display-3 fw-semibold ls-n3">Get In Touch</h4>
							<a href="#" class="button button-large button-light h-text-dark rounded-pill px-4 py-4 bg-warning magnetic-hover w-100"><div class="d-flex "><span><strong>Email Us</strong>: noreply@canvas.com</span><i class="bi bi-envelope-at fs-4 ms-auto"></i></div></a>
							<h4 class="fs-5 fw-semibold mb-0 mt-4 ms-4">Amsterdam, Netherland</h4>
							<h4 class="fs-5 fw-semibold mb-0 mt-2 ms-4">+00 3323 242</h4>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-6">
									<div class="widget widget_links widget-li-noicon">
										<ul>
											<li class="mb-3"><a class="fs-4 magnetic-hover h-color-facebook fw-medium" href="#"><span>Facebook<i class="bi-arrow-up-right ms-2 fs-5"></i></span></a></li>
											<li class="mb-3"><a class="fs-4 magnetic-hover fw-medium h-color-instagram" href="#"><span>Instagram<i class="bi-arrow-up-right ms-2 fs-5"></i></span></a></li>
											<li class="mb-3"><a class="fs-4 magnetic-hover fw-medium h-color-twitter" href="#"><span>Twitter<i class="bi-arrow-up-right ms-2 fs-5"></i></span></a></li>
											<li class="mb-3"><a class="fs-4 magnetic-hover fw-medium h-color-linkedin" href="#"><span>LinkedIn<i class="bi-arrow-up-right ms-2 fs-5"></i></span></a></li>
										</ul>

									</div>
								</div>

								<div class="col-6">
									<div class="widget widget_links widget-li-noicon">
										<ul>
											<li class="mb-3"><a class="fs-4 magnetic-hover fw-medium h-color-dribbble" href="#"><span>Dribbble<i class="bi-arrow-up-right ms-2 fs-5"></i></span></a></li>
											<li class="mb-3"><a class="fs-4 magnetic-hover fw-medium h-color-whatsapp" href="#"><span>WhatsApp<i class="bi-arrow-up-right ms-2 fs-5"></i></span></a></li>
											<li class="mb-3"><a class="fs-4 magnetic-hover fw-medium h-text-dark" href="#"><span>Awwwards<i class="bi-arrow-up-right ms-2 fs-5"></i></span></a></li>
											<li class="mb-3"><a class="fs-4 magnetic-hover fw-medium h-text-primary" href="#"><span>Behance<i class="bi-arrow-up-right ms-2 fs-5"></i></span></a></li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- .footer-widgets-wrap end -->

				<!-- Copyrights
				============================================= -->
				<div id="copyrights" class="bg-transparent border-top">
					<div class="row g-3">
						<div class="col-lg-6 text-center text-lg-start text-contrast-500">
							Copyrights &copy; 2024 All Rights Reserved by theo geoffroy Inc.
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<div class="copyright-links mt-0">
								<a href="#">Privacy Policy</a>
								<a href="#">Terms &amp; Conditions</a>
							</div>
						</div>
					</div>
				</div><!-- #copyrights end -->

			</div>
		</footer><!-- #footer end -->
